<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>About</title>
</head>

<body>
    <%- include('header') %>
        <h2 style="padding: 30px;color: rgb(247, 0, 202); text-align: center;">
            My name is Mike, i build this web because i am studying Express framework with ejs viewengine at the moment
        </h2>
</body>

</html>