<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Contact</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a href="/addUser">Add User</a>
        <a href="/addfile">Add File</a>
        <a href="/contact" class="active">Contact</a>
        <a href="/about">About</a>
    </div>
    <div style="padding: 30px">
        <h3 style=" color: rgb(0, 140, 255); text-align: left;"> My facebook:<a href="https://www.facebook.com/m1k3.193"
                target="_blank">Click Here</a></h3>
        <h3 style=" color: rgb(255, 179, 0); text-align: left;"> My Gmail: mndx5t@gnail.com
        </h3>
    </div>
</body>

</html>