<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Detail user</title>
</head>

<body>
    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/addUser">Add User</a>
        <a href="/addfile">Add File</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </div>
    <form>
        <div class="form-wrap">
            <div>
                <strong>Details User</strong>
            </div>
            <div>
                <label>Name</label>
                <input type="text" disabled value="<%=datauser.Name%>">
            </div>
            <div>
                <label>Email:</label>
                <input type="email" disabled value="<%=datauser.Email%>">
            </div>
        </div>
    </form>
</body>

</html>